body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  margin: 0;
  background-color: lightcoral;
  display: block;
}
img {
  width: 12.5rem;
  height: 12.5rem;
}
.bar {
  padding-top: 1rem;
  background-color:yellow;
  color: lightcoral;
}
.bar p{
  left: 25rem;
}
.intro {
  height: 30rem;
  padding-top: 1rem;
  background-position: center;
  background-repeat: none;
}
.intro h1{
  color: coral;
  font-size: 2rem;
  margin-top: 10rem;
  padding: 2rem;
  background-color:rgb(75, 95, 153);
  text-align: center;
}
ul {
  list-style: none;
  margin: 0;
}

li {
  color: lightcoral;
  padding: 0.5rem 1.5rem;
  margin-right: 1.5rem;
  display: inline-block;
}

.summary,
.testimonial,
.photos,
.meetup {
  margin: 4em auto;
}

.summary {
  padding: 0 1rem;
  background-color: lightcoral;
  color:yellow;
}

.summary p {
  color: yellow;
}

.testimonial {
  background-color: rgb(75, 95, 153);
  height: 20rem;
  padding: 0 1rem;
  padding-top: 1rem;
  color: yellow;
}

.testimonial h3 {
  font-size: 1.5rem;
  color: coral;
}

.summary h2 {
  color: rgb(75, 95, 153);
}

.photos img {
  width: 30%;
  margin: 1.5%;
}

.meetup {
  margin-bottom: 2rem;
}

.meetup img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

.meetup h1 {
  color: yellow;
  text-align: center;
}

footer p{
  text-align: right;
  color: yellow;
}

@media only screen and (max-width: 1200px) {

  .photos img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 768px) {

  .intro h1 {
    margin-top: 2rem;
  }

  .intro {
    max-height: 200px;
  }

  .photos img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {

  .testimonial h1 {
    font-size: 1.5rem;
  }

  .photos img {
    width: 100%;
  }
}